@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@600;700&family=Yaldevi:wght@400;500&display=swap');

:root {
  --font-titulos: 'Libre-Franlin', sans-serif;
  --font-cuerpo: 'Yaldevi', sans-serif;
}

h1 {
    font-family: var(--font-titulos);
}

h2, h3, p {
     font-family: var(--font-cuerpo);
}

html {
  scroll-behavior: smooth;
}

